<!-- Template for the micro front end component -->
<div [ngSwitch]="role">
  <div *ngSwitchCase="'single'" [ngStyle]="{'width':progressbar_MaxWidth + 'px'}">
    <div class="progress" [ngStyle]="{'height':height + 'px'}">
      <div [ngClass]="classes" [ngStyle]="{'background-color':customColor,'width':progressWidth + 'px'}" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">{{lableValue}}</div>
    </div>
  </div>
<div *ngSwitchCase="'multiple'" [ngStyle]="{'width':progressbar_MaxWidth + 'px'}">
  <div class="progress">
    <div *ngFor="let item of progressvalues" [ngClass]="['progress-bar',item.background,item.stripe,item.animation ]" role="progressbar" [style.width]="item.progressWidth" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">{{item.progressWidth}}</div>
  </div>
</div>
</div>
