<!-- <div [ngClass]="dropdownClass">
  <button [ngClass]="buttonClass"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{label}}
  </button>
<div [ngClass]="dropdownMenuClass" aria-labelledby="dropdownMenuButton">
 <ng-container  [ngTemplateOutlet]="DropdownItems"></ng-container>
</div>
<ng-template #DropdownItems *ngFor="let item of listItems">
  <a class="dropdown-item"  href="#">{{item.value}}</a>
</ng-template> 
</div> -->

<div [ngClass]="dropdownDirection">
  <button [ngClass]="button1" [ngStyle]="{'background-color':color, 'color':textColor}"  type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{label}}
  </button>
  <button type="button" [ngClass]="splitdown"  [ngStyle]="{'background-color':color,'color':textColor}" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden" >Toggle Dropdown</span>
    </button>
  <ul [ngClass]="menu" aria-labelledby="dropdownMenuButton1">
    <ng-container class="" *ngFor="let item of listItems" [ngTemplateOutlet]="DropdownItems" [ngTemplateOutletContext]="{ $implicit: item}"></ng-container>
  </ul>
</div>
<ng-template #DropdownItems  let-val>
  <li><a class="dropdown-item" ><i class="bi bi-bootstrap p-1"></i>{{val.value}}</a></li>
  </ng-template>