<div [ngSwitch]="role">

  <div *ngSwitchCase="'Basic'">
    <nav aria-label="Page navigation" >
    <ul class="pagination default-pagination" [class]="classes">
    <li class="square-li1 page-item" aria-hidden="true"><a class="sqare-icon1 de-prev" (click)="doubleArrow(currentPage,true)" aria-label="prev Page">&lsaquo;</a></li>
    <li class="page-item" [ngClass]="{'disabled': disabled}" (click)="onClickPage(activePage - 1)"><a class="page-link de-prev" href="javascript:void(0);"> Prev</a></li>
    <li class="page-item default-liitem" [ngClass]="{'active': activePage === item}"  *ngFor="let item of pages" (click)="onClickPage(item)"><a class="page-link" href="javascript:void(0);">{{item}}</a></li>
    <li class="page-item"  (click)="onClickPage(activePage + 1)"><a class="page-link de-next" href="javascript:void(0);">Next </a></li>
    <li class="square-li2 page-item">
			<a class="square-icon2 de-next" (click)="doubleArrow(currentPage,false)" href="javascript:void(0);" aria-label="Next Page">&rsaquo;</a>
		</li>
  </ul>
</nav>
</div>
<!-- rounded option -->

<div *ngSwitchCase="'Advanced'">
<nav aria-label="page navigation">
  <ul class="page rounded">
    <li class="arrli1 bg-rounded1" aria-hidden="true" [ngClass]="backArrowdisable" ><a class="btn-arrows1" (click)="doubleArrow(currentPage,true)" href="javascript:void(0);" aria-label="prev Page">&laquo;</a></li>
		<li class="arrli2 bg-rounded1" aria-hidden="true"><a class="btn-arrows2" [ngClass]="{'disabled': disabled}"  (click)="onClickPage(activePage - 1)" href="javascript:void(0);" aria-label="prev Page">&lsaquo;</a></li>
    <li class="page__numbers" [ngClass]="{'active': activePage === item}"  *ngFor="let item of pages" (click)="onClickPage(item)"><a class="" href="javascript:void(0);">{{item}}</a></li>
    <li class="page__dots" [ngClass]="hideArrow">...</li>
    <li class="arrli2 bg-rounded2">
			<a class="btn-arrows2"(click)="onClickPage(activePage + 1)" href="javascript:void(0);" aria-label="Next Page">&rsaquo;</a>
		</li>
		<li class="arrli1 bg-rounded2" [ngClass]="hideArrow">
			<a class="btn-arrows1"  (click)="doubleArrow(currentPage,false)" href="javascript:void(0);" aria-label="Last Page">&raquo;</a>
		</li>
  </ul>
</nav>
</div>
</div>