.container{
    padding-top: 50px;
    padding-bottom: 50px;
}
h5{
    padding-bottom: 30px;
}
h6{
    padding-bottom: 10px;
    padding-top: 30px;
}
.dark-mode {
    padding-top: 40px;
    background-color: #232933;
    padding-bottom: 40px;
}
.dark-mode h6, .dark-mode h5{
    color: #fff;
}
.dark-mode .page-link {
    border: 1px solid #dee2e62e;
    background-color: #343B46;
}
.dark-mode.rounded .page-item.disabled .page-link {
    color: #6c757d;
    background-color: #4f555e;
    border-color: #dee2e642;
}
.dark-mode .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #343B46;
    /* border-color: #343B46; */
    border: 1px solid #dee2e62e;
}

// new styling pagination rounded
.item {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--greyDark);
    cursor: pointer;
}
.item span {
    background: #fff;
    box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
    border-radius: 0.6rem;
    padding: 2rem;
    font-size: 3rem;
    transition: all 0.3s ease;
}
.item:hover span {
    transform: scale(1.2);
    color: var(--primary);
}
.item p {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: var(--greyLight);
}
.page {
    display: flex;
    padding-top: 30px;
    padding-left: 0px;
    align-items: center;
}
.page__numbers, .page__btn, .page__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    font-size: 18px;
    cursor: pointer;
    color: #424A50;
}
.page__numbers a{
 color:#424A50;
 text-decoration: none;
}

.page__dots {
    width: 0rem;
    height: 2.6rem;
    color: var(--greyLight);
    cursor: initial;
    margin-right: 18px;
    margin-left: 7px;
}
.page__numbers {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.4rem;
}
.page__numbers:hover {
    color: var(--primary);
}
.page__numbers.active {
    color: #fff !important;
    background-color: #5C82E3;
    font-weight: 600;
    border: 1px solid var(--primary);
    border-radius: 50px;
}
.page__numbers.active a {
  color: #fff !important;
}
.page__btn {
    color: var(--greyLight);
    pointer-events: none;
}
.page__btn.active {
    color: var(--greyDark);
    pointer-events: initial;
}
.page__btn.active:hover {
    color: var(--primary);
}
.rounded li::marker{
    color: transparent;
}
.arrli2{
    padding: 3px 1px;
    border-radius: 24px;
}
a.btn-arrows2 {
    font-size: 38px;
    line-height: 20px;
    padding: 12px;
    text-decoration: none;
    color: #232933;
    font-weight: 100;
}
.arrli1{
    padding: 3px 1px;
    border-radius: 24px;
    margin-right: 5px;
    margin-left: 5px;
}
.bg-rounded1{
    background-color: #F4F5F8;
}
.bg-rounded2{
    background-color: #B9C5CD;
}
a.btn-arrows1{
    font-size: 38px;
    line-height: 20px;
    padding: 9px;
    text-decoration: none;
    color: #232933;
    font-weight: 100;
}

// dark mode rounded pagination
.dark-mode .page__numbers, .dark-mode .page__btn, .dark-mode .page__dots {
    color: #B9C5CD !important;
}
.dark-mode .page__numbers.active {
    color: #fff !important;
}

.dark-mode .bg-rounded1{
    background-color: #424A50;
}
.dark-mode .bg-rounded2{
    background-color: #B9C5CD;
}
.dmprev{
    color: #B9C5CD !important;
    font-weight: 100;
}
.dmnext{
    color: #232933 !important;
    font-weight: 100;
}

// default pagination css
.default-pagination .page-link {
    font-size: 18px;
    background-color: transparent;
    padding: 6px 14px;
    border-radius: 4px;
}
.default-pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #4EA1FF;
    border-color: #4EA1FF;
    border-radius: 4px;
}
.default-pagination .page-link:hover {
    background-color: transparent;
}
.default-pagination .page-link:focus {
    box-shadow: none;
}
a.sqare-icon1 {
    font-size: 46px;
    line-height: 28px;
    padding: 12px;
    text-decoration: none;
    color: #B9C5CD;
    font-weight: 100;
}
a.square-icon2 {
    color: #424A50;
    font-weight: 100;
    font-size: 46px;
    line-height: 28px;
    padding: 12px;
    text-decoration: none;
}
a.page-link.de-prev {
    color: #B9C5CD;
    padding-left: 0px;
    border: 0px;
}
a.page-link.de-next {
    padding-right: 0px;
    color: #424A50;
    border: 0px;
}
li.page-item.default-liitem {
    margin-left: 5px;
    margin-right: 5px;
}

// dafulat pagination with binding
.dark-mode a.page-link.de-prev {
    color: #424A50;
}
.dark-mode a.sqare-icon1 {
    color: #424A50;
}
.dark-mode .default-pagination .page-link {
    color: #424A50;
}
.dark-mode a.page-link.de-next {
    color: #F4F7F9;
}
.dark-mode a.square-icon2 {
    color: #F4F7F9;
}
.dark-mode .default-pagination .page-item.disabled .page-link {
    color: #424A50;
    background-color: transparent;
    border: 0px;
}


/* // media queries */

/* // ipad pro view */
@media (min-width: 768px) and (max-width: 1024px){

}
  /* // ipad and mobile */
  @media (max-width: 768px) {
    .default-pagination .page-link {
        font-size: 10px;
        background-color: transparent;
        padding: 6px 11px;
        border-radius: 4px;
    }
    a.sqare-icon1 {
        line-height: 15px;
    }
    a.square-icon2 {
        line-height: 15px;
    }
    .page__numbers {
        width: 21px;
        height: 20px;
        border-radius: 0.4rem;
    }
    .page__numbers, .page__btn, .page__dots {
        font-size: 14px;
    }
}
