.carousel-caption {
    color: #fff !important;
}
.carousel-indicators [data-bs-target] {
    background-color: #fff !important;
}
.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
    filter: none !important;
}