<div [ngSwitch]="role">
  <div *ngSwitchCase="'radio'">
    <div [class]="classes" role="group" aria-label="Basic example">
      <!-- <span *ngFor=" let item of buttonGroupItem;let i=index"> -->
     
      <!-- </span> -->
      <ng-container *ngFor="let item of buttonGroupItem;let i=index">
        <input type="radio" class="btn-check" [name]="item.name" [id]="item.id" autocomplete="off" (click) = "onClick.emit(item)">
        <label [class]="itemClass" [for]="item.id"
        [ngStyle]="{'border-color': borderColor , 'background-color':backgroundColor , 'color':color}">
          <i [class]="item.iconClass"></i> 
          {{item.label}}
        </label>
      </ng-container>
    </div>
  </div>
  <div *ngSwitchCase="'checkbox'">
    <div [class]="classes" role="group" aria-label="Basic example">
      <ng-container *ngFor="let item of buttonGroupItem;let i=index">
        <input type="checkbox" class="btn-check" [id]="item.id" autocomplete="off" (click) = "onClick.emit(item)">
        <label [class]="itemClass" [for]="item.id"
        [ngStyle]="{'border-color': borderColor , 'background-color':backgroundColor , 'color':color}">
          <i [class]="item.iconClass"></i> 
          {{item.label}}
      </label>
      </ng-container>
    </div>
  </div>
  <div *ngSwitchDefault>
    <div [class]="classes" role="group" aria-label="Basic example">
      <button type="button" *ngFor=" let item of buttonGroupItem;let i=index" [class]="itemClass"
        [ngStyle]="{'border-color': borderColor , 'background-color':backgroundColor , 'color':color}"
        (click)="onClick.emit(i+1)">
        <i [class]="item.iconClass"></i> {{item.label}}</button>
      <ng-content></ng-content>
    </div>
  </div>
</div>