.container{
    padding-top: 50px;
}
.ml-2{
    margin-left: 10px;
}
.placement{
    padding-top: 50px;
}
.mb-10{
    margin-bottom: 10px;
}

.dark-mode {
    padding-top: 40px;
    background-color: #232933;
    padding-bottom: 40px;
}
.dark-mode h6, .dark-mode h5{
    color: #fff;
}
.light-mode{
    padding-top: 40px;
    padding-bottom: 40px;
}

// darkmode css sidebar

.dark-mode .offcanvas {
    background-color: #232933;
    color: #fff;
}
.dark-mode .btn-close, .dark-mode .btn-close:hover, .dark-mode .btn-close:focus{
    color: #fff !important;
    background-image: none;
    box-shadow: none;
}
h5{
    padding-bottom: 30px;
}

.offcanvas-title {
    padding-bottom: 0px;
}