.sb-show-main.sb-main-padded {
    padding : 5%;
  }
  .btn-rounded {
    border-radius: 50%;
    padding: 5px 10px 8px;
  }
  .xlg{
    // font-size: 2rem;
    font-size: 1.35rem;
  }
  .lg{
    // font-size: 1.5rem;
    font-size: 1.25rem;
  }
  .mid{
    // font-size: 1.17rem;
    font-size: 1.05rem;
  }
  .small{
    // font-size: 1rem;
    font-size: 0.85rem;
  }
  .smaller{
    // font-size: 0.83rem;
    font-size: 0.65rem;
  }
  .smallest{
    // font-size: 0.67rem;
    font-size: 0.60rem;
  }