<div [class]="classes" [ngStyle]="{'width': chartWidth + 'px'}">
  <canvas [id]="chartId"></canvas>
</div>

<!-- <div class="container-fluid">
  <div class="canvas-container">
      <div class="ch1 cavas-div">
          <canvas id="ch1"></canvas>
      </div>

      <div class="ch2 cavas-div">
          <canvas id="ch2"></canvas>
      </div>

      <div class="ch3 cavas-div">
          <canvas id="ch3"></canvas>
      </div>
  </div>
</div>   -->

<div class="container-fluid">
  <div class="canvas-container">
      <div class="ch4 cavas-div2">
          <canvas id="ch4"></canvas>
      </div>

      <div class="ch5 cavas-div2">
          <canvas id="ch5"></canvas>
      </div>

      <div class="ch6 cavas-div2">
          <canvas id="ch6"></canvas>
      </div>

  </div>
</div>

<div class="container-fluid">
  <div class="canvas-container2">
      <div class="ch4 cavas-verticle">
          <canvas id="ch7"></canvas>
      </div>

      <div class="ch5 cavas-verticle">
          <canvas id="ch8"></canvas>
      </div>

      <div class="ch6 cavas-verticle">
          <canvas id="ch9"></canvas>
      </div>

  </div>
</div>


<!-- // small multiple large horizontal chart -->
<div class="container-fluid">
  <div class="canvas-container3">
      <div class="ch7 cavas-verticle">
          <canvas id="ch10"></canvas>
          <!-- <div class="chart-background"></div>
          <span class="chart-unique-value">
               <span class="js-count">
                  35k
               </span><br>
               <span class="cuv-percent">Visitors</span>
          </span>                       -->
      </div>

      <div class="ch8 cavas-verticle">
          <canvas id="ch11"></canvas>
      </div>

      <div class="ch9 cavas-verticle">
          <canvas id="ch12"></canvas>
      </div>

  </div>
</div>




<!-- datatable with sprkline graph -->

<!-- <div class="container-fluid mob-scroll">
  <table class="table">
      <thead class="grey lighten-2">
        <tr>
          <th scope="col" class="headerSortDown">BROWSER</th>
          <th scope="col">DATE</th>
          <th scope="col">UNIQUE VISITORS</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="cmc">Chrome</th>
          <td class="cmc">09/22/2019</td>
          <td class="can-td" width="90px"><canvas id="uvl1" ></canvas></td>
          <td class="range">5,777,562</td>
        </tr>
        <tr>
          <th scope="row" class="cmc">Safari</th>
          <td class="cmc">01/15/2018</td>
          <td class="can-td"><canvas id="uvl2"></canvas></td>
          <td class="range">942,774</td>
        </tr>
        <tr>
          <th scope="row" class="cmc">Edge</th>
          <td class="cmc">04/25/2020</td>
          <td class="can-td"><canvas id="uvl3"></canvas></td>
          <td class="range">866,134</td>
        </tr>
        <tr>
          <th scope="row" class="cmc">Firefox</th>
          <td class="cmc">06/23/2021</td>
          <td class="can-td"><canvas id="uvl4"></canvas></td>
          <td class="range">750,876</td>
        </tr>
        <tr>
          <th scope="row" class="cmc">IE 11</th>
          <td class="cmc">09/12/2021</td>
          <td class="can-td"><canvas id="uvl5"></canvas></td>
          <td class="range">39,550</td>
        </tr>
      </tbody>

    </table>
</div> -->


<!-- // boolean positive doughnut chart -->

<!-- <div class="container-fluid">
  <div class="canvas-container4">
      <div class="ch111 cavas-verticle">
          <canvas id="ch111"></canvas> -->
          <!-- <div class="chart-background"></div>
          <span class="chart-unique-value">
               <span class="js-count">
                  35k
               </span><br>
               <span class="cuv-percent">Visitors</span>
          </span>                       -->
      <!-- </div>
  </div>
</div>  -->
