<div  [ngClass]="divclasses">   
  <input  (keyup)="onKeyup($event)" (focus)="focus()" [attr.type]="inputType" [ngClass]="classes"  id="Errormessage" [attr.placeholder]="placeholder" [value]="value" [disabled]="disabled" [readonly]="readonly">    
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="23.7" fill="currentColor" class="bi bi-slash-circle readicon icon-position" [ngClass]="formState" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z"/>
    </svg>
    <label *ngIf ="floatingcontent" for="floatingInput">{{floatinginputLabel}}</label>

    <div class="invalid-feedback">
    {{ErrorMessage}}
    </div>
</div>



