.container{
    padding-top: 50px;
    padding-bottom: 50px;
}
h5{
    padding-bottom: 30px;
}
h6{
    padding-bottom: 10px;
    padding-top: 30px;
}
.dark-mode {
    padding-top: 40px;
    background-color: #232933;
    padding-bottom: 40px;
}
.light-mode{
    padding:40px 60px 40px 0px;
}
.dark-mode h6, .dark-mode h5{
    color: #fff;
}
.ml-2{
    margin-left: 8px;
}
.dm{
    border: 0.25em solid #343B46;
    border-right-color: black;
}
.lt{
    color: #343B46;
}
.sps{
        border-right-color: black;
        border-radius: 50%;
}
.spinner-grow.sps.spinner-grow-sm.ml-2, .spinner-grow.sps{
    background-color: #343B46;
}