<div>
  under construction
  <!--<div markdown [src]="'/getStarted.md'"></div>-->
  <!--<markdown [src]="'/assets/getStarted.md'">-->
  <!--<markdown class="variable-binding" [src]="'https://github.com/Wai-Technologies/raaghu-ng-elements/blob/main/README.md'" [data]="markdown"></markdown>-->
</div>
<div>
  <p><p align="center">
    <a href="https://raaghu.io" target="_blank">
      <img src="./raaghu_icon.png" alt="logo" width="125" />
    </a>
  </p>

  <p><p />
  <p align="center">
    <h1 align="center">Raaghu Ng Elements</h4>
  </p>

  <p />


  <p align="center">
    <a href="https://github.com/Wai-Technologies/raaghu-ng-elements/blob/main/LICENSE" target="blank">
      <img src="https://img.shields.io/github/license/TryShape/tryshape?style=flat-square" alt="tryshape licence" />
    </a>
    <a href="https://github.com/Wai-Technologies/raaghu-ng-elements/network/members" target="blank">
      <img src="https://img.shields.io/github/forks/TryShape/tryshape?style=flat-square" alt="tryshape forks" />
    </a>
    <a href="https://github.com/Wai-Technologies/raaghu-ng-elements/stargazers" target="blank">
      <img src="https://img.shields.io/github/stars/TryShape/tryshape?style=flat-square" alt="tryshape stars" />
    </a>
    <a href="https://github.com/Wai-Technologies/raaghu-ng-elements/issues" target="blank">
      <img src="https://img.shields.io/github/issues/TryShape/tryshape?style=flat-square" alt="tryshape issues" />
    </a>
    <a href="https://github.com/Wai-Technologies/raaghu-ng-elements/pulls" target="blank">
      <img src="https://img.shields.io/github/issues-pr/TryShape/tryshape?style=flat-square" alt="tryshape pull-requests" />
    </a>


  </p>

  <p align="center">
    <a href="https://raaghu.io" target="blank">View Demo</a>
    ·
    <a href="https://github.com/Wai-Technologies/raaghu-ng-elements/issues/new">Report Bug</a>
    ·
    <a href="https://github.com/Wai-Technologies/raaghu-ng-elements/issues/new">Request Feature</a>
  </p>



  <h1 id="👋-introducing-raaghu-ng-elements">👋 Introducing <code>raaghu-ng-elements</code></h1>
  <!-- <p align="center">
      <a href="https://tryshape.vercel.app" target="blank"/>
          <img src="./public/readme/landing.png" alt="landing" />
      </a>
  </p>

  <p>-->
  </p>

  <p><code>raaghu-ng-elements</code> is an opensource micro front end framework built on top of Bootstrap 5 and Storybook offering highly customizable and reusable Angular UI elements.</p>

  <p>Raaghu elements can be used as a base to build complex components and UI layouts whilst maintaining a high level of reusability.</p>

  <h1 id="demo">🚀 Demo</h1>

  <p>Here is a quick <a href="https://www.raaghu.io">demo</a> of the elements. We hope you enjoy it.</p>

  <p>Liked it? Please give us a ⭐️ to show your appreciation</p>

  <p>Many Thanks to all the <code>supporters</code> who have helped this project with stars(⭐)</p>

  <h1 id="features">🔥 Features</h1>

  <h2 id="highreusability">🔢 High reusability</h2>

  <ul>
    <li>Promotes rusability throughout the UI and pages</li>

    <li>Reduces code duplication and helps in delivering a more consistent and even UI</li>
  </ul>

  <h2 id="microfrontendarchitecture">🏗️ Micro Front End Architecture</h2>

  <ul>
    <li>Each element is a separate micro front end on its own</li>

    <li>Elements can be worked on in isolation</li>
  </ul>

  <h2 id="theming">📢 Theming</h2>

  <ul>
    <li>The theming engine provides a way to set custom theme for all the elements</li>

    <li>Control the theme of your project with only a few css variables</li>
  </ul>

  <h2 id="responsiveandmobilefriendly">📱 Responsive and mobile-friendly</h2>

  <ul>
    <li>All of the elements are built for a wide variety of screen sizes</li>
  </ul>

  <h1 id="howtosetupraaghungelementsfordevelopment">🏗️ How to Set up <code>raaghu-ng-elements</code> for Development?</h1>

  <p>You can run <code>raaghu-ng-elements</code> locally with a few easy steps.</p>

  <ol>
    <li>Clone the repository</li>
  </ol>

<pre><code class="bash language-bash">git clone https://github.com/Wai-Technologies/raaghu-ng-elements.git
</code></pre>

  <ol>
    <li>Change the working directory</li>
  </ol>

<pre><code class="bash language-bash">cd raaghu-ng-elements
</code></pre>

  <ol>
    <li>Install dependencies</li>
  </ol>

<pre><code class="bash language-bash">npm install
</code></pre>

  <ol>
    <li>Set localDev environment variable in <code>envronment.prod.ts</code> for a particular element</li>
  </ol>

<pre><code class="javascript  language-javascript ">export const environment = {
  production: true,
  localDev: false 
  // serve as micro frontend on 
  // localhost:3000/rds-&lt;element name&gt;/main.js
};
</code></pre>

  <ol>
    <li>Build and serve</li>
  </ol>

<pre><code class="bash language-bash"># Build all projects and run server
npm run bootstrap 
# Build a single project and start server
npm run bootstrap -- --project=rds-&lt;element name&gt;
# For rds-input
# npm run bootstrap -- --project=rds-input
# Start server without building project
npm run bootstrap -- --build=false
</code></pre>

  <ol>
    <li>Storybook</li>
  </ol>

<pre><code class="bash language-bash"># View all elements inside storybook
npm run storybook 
</code></pre>

  <p>All set !! Now open <code>localhost:3000/rds-&lt;element name&gt;</code> to see the element locally or <code>localhost:3000/rds-&lt;element name&gt;/main.js</code> to serve it as a micro front end.</p>

  <h1 id="builtwith">🍔 Built With</h1>

  <ul>
    <li><a href="https://bootstrap.com/">Bootstrap 5</a>: Sleek, intuitive, and powerful framework for faster and easier web development.</li>

    <li><a href="https://storybook.js.org/">Storybook</a>: Build bulletproof UI components faster</li>

    <li><a href="https://angular.io/guide/elements">Angular Elements</a>: Build bulletproof UI components faster</li>
  </ul>

  <h1 id="license">🛡️ License</h1>

  <p>This project is licensed under the MIT License - see the <a href="LICENSE"><code>LICENSE</code></a> file for details.</p>

  <h1 id="upcomingfeatures">🦄 Upcoming Features</h1>

  <p><code>raaghu-ng-elements</code> has all the potentials to grow further. Here are some of the upcoming features,</p>

  <ul>
    <li>✔️ Custom plugin to reveal the reusability within your angular project</li>

    <li>✔️ Ability to convert existing elements in a project into micro front end enabled elements</li>

    <li>✔️ Import custom elements into the library</li>

    <li>✔️ Better Performance</li>

    <li>✔️ Converiting plain angular components to custom elements</li>
  </ul>

  <p>If you find something is missing, we are listening. Please create a feature request <a href="https://github.com/Wai-Technologies/raaghu-ng-elements/issues/new">from here</a>.</p>

  <h1 id="contributingtoraaghu">🤝 Contributing to <code>Raaghu</code></h1>

  <p>Any kind of positive contribution is welcome! Please help us to grow by contributing to the project.</p>

  <p>If you wish to contribute, you can work on any features <a href="https://github.com/Wai-Technologies/raaghu-ng-elements#-upcoming-features">listed here</a> or create one on your own. After adding your code, please send us a Pull Request.  </p>

  <h1 id="support">🙏 Support</h1>

  <p>We all need support and motivation. <code>Raaghu</code> is not an exception. Please give this project a ⭐️ to encourage and show that you liked it. Don't forget to leave a star ⭐️ before you move away.</p>

  <p>If you found the app helpful, consider supporting us with a coffee.</p>

  <p>
    <a href="https://www.buymeacoffee.com/">
      <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" height="50px">
    </a>
  </p>

  <hr />

  <h3 align="center">
    A ⭐️ to <b>Raaghu</b> is to build its triceps 💪 stronger.
  </h3>

  <h2 id="contributor">Contributor ✨</h2>

  <p>Thanks goes to these wonderful people</p>

  <!-- ALL-CONTRIBUTORS-LIST:START - Do not remove or modify this section -->
  <!-- prettier-ignore-start -->
  <!-- markdownlint-disable -->

  <table>
    <tr>
      <td align="center"><a href="https://github.com/apoorvalele"><img src="https://media-exp1.licdn.com/dms/image/C5603AQFLnud54O5hng/profile-displayphoto-shrink_200_200/0/1600705273288?e=1648684800&v=beta&t=sSGcvwE9rueIjUZH8njgLLEA-HhQaTH8eblRYaF_HIM" width="100px;" alt="" /><br /><sub><b>Apoorva Lele</b></sub></a></td>
      <td align="center"><a href="https://github.com/omkarchoudhari"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQGOqHWfCLiksQ/profile-displayphoto-shrink_100_100/0/1605344901439?e=1648684800&v=beta&t=b0rOp1xQdSvWPysWX5f_wCiXljP3f0xY6wTxytCQsHM" width="100px;" alt="" /><br /><sub><b>Omkar Choudhari</b></sub></a></td>
      <td align="center"><a href="https://github.com/alok-nakhate"><img src="https://media-exp1.licdn.com/dms/image/C5603AQGivbqRns4SUw/profile-displayphoto-shrink_200_200/0/1516485962623?e=1648684800&v=beta&t=P2gr9WKJvXBXEHcblT32cHpvD6Mfs_EW6SsDP0rZI0s" width="100px;" alt="" /><br /><sub><b>Alok Nakhate</b></sub></a></td>

    </tr>
  </table>

  <!-- markdownlint-restore -->
  <!-- prettier-ignore-end -->
  <!-- ALL-CONTRIBUTORS-LIST:END -->

  <p>This project follows the <a href="https://github.com/all-contributors/all-contributors">all-contributors</a> specification. Contributions of any kind welcome!</p>
</div>
